a.folder_up {
  padding-left: 1.2em;
  background-image: url("/icons/folder_up.png");
  background-repeat: no-repeat;
  background-position: 1px 2px;
}

ul.dirlist {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}

ul.dirlist li {
  background-image: url("/icons/page_white.png");
  background-repeat: no-repeat;
  background-position: 1px 2px;
  padding-left: 1.2em;
}

ul.dirlist li.folder {
  background-image: url("/icons/folder.png");
}

ul.dirlist li.markup {
  background-position: 0 2px;
  background-image: url("/icons/page_white_code.png");
}

ul.dirlist li.text {
  background-image: url("/icons/page_white_text.png");
}

ul.dirlist li.zip {
  background-image: url("/icons/page_white_zip.png");
}
 